<h2><%= @author.name %></h2>

Books: <br>
<% @author.books.each do |b| %>
  <a href="/books/<%= b.slug %>"><%= b.name %></a><br>
<% end %>
<br>

Genres: <br>
<% @author.genres.each do |g| %>
  <a href='/genres/<%= g.slug %>'><%= g.name %></a><br>
<% end %>
<br>

Publishers: <br>
<% @author.publishers.each do |p| %>
  <a href='/publishers/<%= p.slug %>'><%= p.name %></a><br>
<% end %>
<br>
