<h2 class='page_title'>Edit Book</h2>

<form class="text" action="/books/<%= @book.slug %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="book_name">Book Name: </label><br>
  <input type="text" id='book_name' name="book[name]" value= "<%= @book.name %>"><br>
  <br>

  <label for="book_has_been_read">Finished reading this book? </label><br>
  <select class='text' name="book[has_been_read]" id='book_has_been_read'>
    <% if @book.has_been_read == 1 %>
      <option value=0>No</option>
      <option selected = "selected" value=1>Yes</option>
    <% else %>
      <option selected = "selected" value=0>No</option>
      <option value=1>Yes</option>
    <% end %>
  </select>
  <br></br>

  <label for="book_author">Choose an existing author: </label><br>
  <select class ="text" id='book_author' name="book[author]" placeholder= 'select an author'>
    <option value="">- select an author -</option>
    <% @authors.each do |a| %>
      <% if a.name == @book.author.name %>
        <option selected = "selected" value="<%= a.name %>"><%= a.name %></option>
      <% else %>
        <option value="<%= a.name %>"><%= a.name %></option>
      <% end %>
    <% end %>
  </select>
  <br></br>
  OR create a new author: <br>
  <input type="text" id='new_book_author' name="author[name]" placeholder='new author name'>
  <br></br>

  <label for="book_publisher">Choose an existing publisher: </label><br>
  <select name= "book[publisher]" id='book_publisher'>
    <option value="">- select a publisher -</option>
    <% @publishers.each do |p| %>
      <% if p.name == @book.publisher.name %>
        <option selected = "selected" value="<%= p.name %>"><%= p.name %></option>
      <% else %>
        <option value="<%= p.name %>"><%= p.name %></option>
      <% end %>
    <% end %>
  </select>
  <br></br>

  OR create a new publisher: <br>
  <input type="text" name="publisher[name]" id= 'new_publisher_name' placeholder='new publisher name'>
  <br></br>

  <label for="book_year_published">Year Published: </label><br>
  <input type="text" id='book_year_published' name="book[year_published]" value = "<%= @book.year_published %>" placeholder='year published'><br>
  <br>

  <label for="bookgenre">Choose an existing genre: </label><br>
  <% @genres.each do |g| %>
    <% if @book.genres.include?(g) %>
      <input type = 'checkbox' id='<%= g.id %>' name='book[genre_ids][]' value="<%= g.id %>" checked><%= g.name %></input> <br>
    <% else %>
      <input type = 'checkbox' id='<%= g.id %>' name='book[genre_ids][]' value="<%= g.id %>"><%= g.name %></input> <br>
    <% end %>
  <% end %>
  <br>
  AND/OR create a new genre:
  <input type="text" name="genre[name]" id= 'new_genre'>
  <!-- eventually make it so yo u can add up to 3 new genres at once. -->
  <br></br>

  <input type="submit" value="Edit Book">
</form>
<br>
or <a href="/books">Go Back</a>
