<% if flash.has?(:message) %>
  <p style ="color:red"><em>*<%= flash[:message] %>*</em></p>
<% end %>

<h2 class='page_title'><%= @book.name %></h2>

By: <a href='/authors/<%= @book.author.slug %>'><%= @book.author.name %></a> <br>
Publisher: <a href='/publishers/<%= @book.publisher.slug %>'><%= @book.publisher.name %></a> <br>
<br>
Publication Year: <%= @book.year_published %> <br>
<br>
Genres: <br>
<% @book.genres.uniq.each do |g| %>
  <a href='/genres/<%= g.slug %>'><%= g.name %></a><br>
<% end %>
<br>

<!-- indicates owner -->
Owner: <%= @book.user.name %> <br>

<!-- indicates whether book has been read -->
<% if @book.has_been_read == 1 %>
  <em>This book has been read.</em><br>
<% else %>
  <em>This book has <u>not</u> been read.</em><br>
<% end %>
<br>
<a href="/books/<%= @book.slug %>/edit"><input type="submit" value="Edit Book"></a>
<form action="/books/<%= @book.slug %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Book">
</form>
